body{
    background-color: #fff;
    overflow: auto;
}

h1{
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 10px 0;
}

form{
    padding-top: 20px;
    max-width: 60%;
    margin: auto;
}

#dashboard {
    margin-top: 30px;
    position: relative;
    margin: auto;
    width: 450px;
    height: 450px;
    background-color: fff;
}

.cell{
    width: 150px;
    height: 150px;
    float: left;
    background-color: #fff;
    text-align: center;
    padding-top: 36px;
    font-size: 50px;
    text-transform: uppercase;
    margin: auto;
}

.cell:hover {
    background-color:whitesmoke;
    cursor: pointer;
   } 

.cell-11{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.cell-13{
    border-bottom: 1px solid #000;
}

.cell-31{
    border-right: 1px solid #000;
}
